include variables
include mixins

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-transparent
            button.navbar-toggler(type='button' data-togler='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            .collapse.navbar-collapse.justify-content-between(id='"navbarSupportedContent')
                +linkList(headerList, 0)
                form.form-inline
                    input.form-inline(type='search' placeholder='Search...' aria-label='Search')