include variables
include mixins

header
    .container
        nav.navbar.navbar-expand-lg.navbar-dark
            a.logo(href="/")
                img(src='img/logo.png' alt='logo')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-between.nav-position(id='navbarSupportedContent')
                +linkList(headerList, 1)
                form.form-inline.search-form.justify-content-center.py-2.py-lg-0
                    input.form-inline.custom-input(type='search' placeholder='Search...' aria-label='Search')