section.intro.flex-grow-1.align-items-center.d-flex
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .title-holder.text-white.text-center
                    h2 Art is Eternal Happiness
                .d-flex.justify-content-center
                    a.btn.btn-primary.btn-lg.text-uppercase(href="") Work with us
