include variables
include mixins


section.latest-work.bg-primary.common-section
    .container
        +heading("our latest work", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.","primary")
        .d-flex.justify-content-center
            .btn-group(aria-label="filter-button")
                button.filter.btn.btn-light.active(type='button') Photography
                button.filter.btn.btn-light(type='button') Design
                button.filter.btn.btn-light(type='button') Print
        +addImg(img)
        .text-center
            a.btn.btn-success.common-arrow-right(href="#") View more work
