include variables
include mixins


section.meet-team.bg-primary
    .common-section
        +heading("meet the team", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.","primary")
        +personals(personal, 'green')
    footer
        .d-flex.justify-content-center.btn-holder.text-white
            a.btn.btn-primary.text-uppercase Work with us
