include variables
include mixins

section.our-client.common-section
    .container
        +heading("our happy client", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.")
        +clientsLogo(clientLogo)
    .container.d-flex.justify-content-center
        a.btn.btn-gray.common-arrow-right(href="#") See all client