include variables
include mixins

section.testimonials.common-section
    .container
        +heading("testimonials", "Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.")
        .row.justify-content-center
            .col-lg-6
                .slider
                    +addsliderItem(blockquoteItems)