-
    var headerList = ['Home', 'What we do', 'Testimonial', 'Contact Us']

    var forCards = [
        {
            class: "icon-camera",
            title:"Lorem ipsum",
            text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor",
        },
        {
            class: "icon-meter",
            title:"Lorem ipsum",
            text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor"
        },
        {
            class: "icon-briefcase",
            title:"Lorem ipsum",
            text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh  vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor"
        }
        ]

    var commonHeadings = [
    {
        title: 'What we do',
        text : 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.'
    },
    {
        title: 'our latest work',
        text : 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.'
    },
    {
        title: 'testimonials',
        text : 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.'
    },
    {
        title: 'our happy client',
        text : 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.'
    },
    {
        title: 'meet the team',
        text : 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.'
    }
    ]

    var img = ['img/img-1.jpg','img/img-2.jpg','img/img-3.jpg','img/img-4.jpg','img/img-5.jpg','img/img-6.jpg','img/img-7.jpg','img/img-8.jpg','img/img-9.jpg','img/img-10.jpg']

    var blockquoteItems = [
    {
        content: 'Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!',
        photo: 'img/mr-herp(face).png',
        name :'Mr. Herp',
        someText: 'CEO of Meme, Inc.'
    },
    {
        content: 'Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!',
        photo: 'img/mr-herp(face).png',
        name :'Mr. Herp',
        someText: 'CEO of Meme, Inc.'
    },
    {
        content: 'Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!',
        photo: 'img/mr-herp(face).png',
        name :'Mr. Herp',
        someText: 'CEO of Meme, Inc.'
    }
    ]

    var clientLogo = ['img/google.png', 'img/yahoo.png', 'img/Microsoft.png', 'img/intel.png', 'img/qualcom.png', 'img/cisco.png', 'img/apple.png', 'img/asus.png']

    var personal = [
    {
        photo: 'img/krisna.jpg',
        name: 'Krisna Wijaya',
        socials:
        {
            dribbble: '#',
            behance: '#',
            twitter:'#'
        }
    },
    {
        photo: 'img/gabriel.jpg',
        name: 'Gabriel Yoshua',
        socials:
        {
            dribbble: '#',
            behance: '#',
            twitter:'#'
        }
    },
    {
        photo: 'img/adik.jpg',
        name: 'Adik N.K.L',
        socials:
        {
            dribbble: '#',
            behance: '#',
            twitter:'#'
        }
    },
    {
        photo: 'img/zan.jpg',
        name: 'Zan D.J',
        socials:
        {
            dribbble: '#',
            behance: '#',
            twitter:'#'
        }
    },
    {
        photo: 'img/falzal.jpg',
        name: 'Faizal Febri',
        socials:
        {
            dribbble: '#',
            behance: '#',
            twitter:'#'
        }
    }
    ]

    var ourSocialLinks = {dribbble: '#', behance: '#', twitter:'#'}

    var posts = [
    {
        photo: "img/img-1.jpg",
        title: "Lorem Ipsum Dolor Sit Amet.",
        color: "primary",
        btnText: "magazine"
    },
    {
        photo: "img/img-3.jpg",
        title: "Lorem Ipsum Dolor Sit Amet.",
        color: "warning",
        btnText: "ui design"
    },
    {
        photo: "img/img-6.jpg",
        title: "Lorem Ipsum Dolor Sit Amet.",
        color: "info",
        btnText: "photography"
    },
    {
        photo: "img/img-8.jpg",
        title: "Lorem Ipsum Dolor Sit Amet.",
        color: "danger",
        btnText: "book"
    },
    {
        photo: "img/img-10.jpg",
        title: "Lorem Ipsum Dolor Sit Amet.",
        color: "warning",
        btnText: "ui design"
    }
    ]