input{
    outline: none;
}

.wrapper{
    overflow: hidden;
}

h1 {
    font-weight: bold;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
        font-size: 55px;
    }
}

h3{
  font-weight: 300;
}

.btn {

  &.btn-primary{
    color: $white;
  }

  &.btn-light{
    color: $success;
    border-color: $success;
  }
}

.btn-gray{
    color: $gray-btn-color;
    background: $gray-btn-bg;

    &:hover{

    }
}

.common-section{
    padding-top: 40px;
    padding-bottom: 50px;
}

.common-text-block{
  margin-bottom: 50px;
}

.default-content-color{
    color: $gray-400;
}

.primary-title-color{
    color: $green-dark;
}

.title-decoration{
    position: relative;
    padding-bottom: 22px;
    text-transform: uppercase;

    &:after{
        position: absolute;
        content: "";
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
        width: 44px;
        border-top: 2px solid;
    }

    h3{
        margin-bottom: 0;
    }
}

.top-block{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../img/header-bg.jpg');
}

.intro{
    position: relative;
    z-index: 10;

    .title-holder{
        padding-bottom: 40px;
    }
}

.overlay{
    position: relative;
    z-index: 1;

    &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba($black, .2);
        z-index: 1;
    }
}

.scroll-down-holder{
    padding-bottom: 12px;
    position: relative;
    z-index: 10;

    a{
        background-color: rgba($white, .7);
        color: $black;

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

.common-arrow-down{
    position: relative;
    padding-right: 45px;

    &:after{
        position: absolute;
        content: "\ea3e";
        font-family: 'icomoon';
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 14px;
    }
}

.common-arrow-right{
    position: relative;
    padding-right: 45px;

    &:after{
        position: absolute;
        content: "\ea3c";
        font-family: 'icomoon';
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 14px;
    }
}

.card{
  margin-bottom: 30px;

  h2{
    font-weight: bold;
  }

  a{
    font-weight: bold;
  }

  .content{
    font-family: $montserrat;
    font-size: 15px;
  }
}

.card-img-top{
    display: flex;
    justify-content: center;

    [class^="icon-"], [class*=" icon-"]{
        font-size: 84px;
        color: $primary;
        background-color: $green-light;
        padding: 28px;
        border-radius: 30px;
    }
}

.latest-work{

    .btn.btn-light.active {
        background-color: $success;
        color: $white;
        border-color: $success;


        &:focus{
            box-shadow: none;
        }
    }

    .img-holder{
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100%;
    }

    .custom-block{
        flex-basis: 100%;

        @include media-breakpoint-up(sm) {
            flex-basis: 50%;
        }

        @include media-breakpoint-up(lg) {
            flex-basis: 20%;
        }
    }
}

.testimonials{

    p{
        margin: 0;
    }

    .img-holder{
        width: 46px;
        height: 46px;
        overflow: hidden;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $cite-img-holder-border;
    }
}

.our-client{
    background-color: $gray-100;
}

.meet-team{

    .img-holder{
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 50%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .common-decoration-block{
        position: relative;
        padding-top: 97px;

        &:before{
            position: absolute;
            height: 77px;
            content: "";
            left: 50%;
            top: 10px;
            transform: translateX(-50%);
            border-left: 2px solid $green-dark;
        }
    }

    footer{
        background-color: $footer-bg-meet-team;

        .btn-holder{
            padding: 25px 0;
        }
    }
}

.team-social{
    display: flex;
}

.socials-contact{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 2px;
    padding-left: 2px;

    li {
        padding: 6px 4px;
        text-align: center;
    }

    a{
        width: 24px;
        height: 24px;
        display: block;
    }
    span{
        font-size: 24px;
    }
}

.bg-for-twitter{
    color: $info;
}

.bg-for-behance{
    color: $blue;
}

.bg-for-dribbble{
    color: $pink;
}

.bg-light-green{
    background: $social-green-bg-color;
}

.bg-light-gray{
    background-color: $social-bg-light;
}

.info{
    background-color: $info-bg;
    color: $info-paragraph-color;

    textarea{
        resize: none;
    }
}

.posts{

    .img-holder{
        width: 53px;
        height: 53px;
        overflow: hidden;
        border-radius: 4px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-content{


        a{
            font-size: 13px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}

.contacts{

    a{
        color: $info-paragraph-color;
    }
}

.contact-form{

    input,textarea {
        background-color: $gray-600;
        border-color: transparent;
        color: $form-input-color;

        &:focus{
            background-color: $gray-600;
            border-color: transparent;
            box-shadow: none;
            color: $form-input-color;
        }

        &::placeholder{
            color: $form-input-color;
        }
    }

    [name="name"]{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    [name="email"]{
        border-radius: 0;
    }

    [name="message"]{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-width: 3px;
    }

    button{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.seen-on{
    background-color: $gray-800;
    padding: 28px 0;

    .title-holder{
        color: $gray-900;
    }
}

